<!--Comic navigation-->
<nav class="subheader">
    <a href={{first}}><img class="nav left" src="/img/navigation/first.png" /></a>
    {{#if previous}}
        <a href={{previous}}><img class="nav left" src="/img/navigation/previous.png" /></a>
    {{/if}}

    <!--Order of right navigation is flipped because we're using float:right-->
    <a href={{last}}><img class="nav right" src="/img/navigation/last.png" /></a>
    {{#if next}}
        <a href={{next}}><img class="nav right" src="/img/navigation/next.png" /></a>
    {{/if}}
    <div style="clear: both"></div>
</nav>

<section class="comic" title="{{text}}" style="background-color:green;">

    <a {{#if next}} href={{next}} {{else}} href={{current}} {{/if}}>
        <img draggable=false class="base" src={{base}} />
        <img draggable=false class="filter" src={{filter}} />
        <img draggable=false class="no-filter" src={{no-filter}} />
    </a>
</section>


<script src="/js/comic.js" type="text/javascript"></script>
