<!--Comic navigation-->
<div class="subheader">
    <a href={{first}}><img class="nav left" src="../img/navigation/first.png" /></a>
    {{#if previous}}
        <a href={{previous}}><img class="nav left" src="../img/navigation/previous.png" /></a>
    {{/if}}

    <!--Order of right navigation is flipped because we're using float:right-->
    <a href={{last}}><img class="nav right" src="../img/navigation/last.png" /></a>
    {{#if next}}
        <a href={{next}}><img class="nav right" src="../img/navigation/next.png" /></a>
    {{/if}}
    <div style="clear: both"></div>
</div>

<!--Comics-->
<img class="comic" id="comic-base" alt={{text}} src={{base}} />
<img class="comic" id="comic-off" alt={{text}} src={{filter}} />
<img class="comic" id="comic-on" alt={{text}} src={{no-filter}} />

<script src="../js/comic.js" type="text/javascript"></script>
<script type="text/javascript">
    window.comic.init();
</script>
